---
- name: Install and Configure MySQL Database Server
  hosts: webserver
  become: yes

  vars:
    mysql_root_password: "1234"

  tasks:

    - name: Install MySQL server
      yum:
        name: mysql-server
        state: present

    - name: Start MySQL service
      service:
        name: mysqld
        state: started
        enabled: yes 
